# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
RPG_alpha/Engine/
RPG_alpha/RPG_alpha.vcxproj
RPG_alpha/RPG_alpha.vcxproj.filters
RPG_alpha/RPG_alpha.vcxproj.user
RPG_alpha/Resource.rc
.vs/RPG_alpha/v14/.suo
RPG_alpha.VC.db
RPG_alpha.opensdf
RPG_alpha.sdf
RPG_alpha.sln
x64/
ipch/RPG_ALPHA-71cda845/RPG_ALPHA-224baed8.ipch
RPG_alpha/Example/
RPG_alpha.VC.VC.opendb
RPG_alpha.v12.suo
RPG_alpha/res/font/
RPG_alpha/res/
RPG_alpha/RPG_alpha_log.html
